<div class="ui horizontal divider">
    Recursos Disponíveis
  </div>
<div class='ui segment'>
    <div class="ui teal statistics">
        <div class="statistic">
            <div class="value">
            22
            </div>
            <div class="label">
            Doadores
            </div>
        </div>
        <div class="statistic">
            <div class="text value">
            Três<br>
            Mil Reais
            </div>
            <div class="label">
            Doações
            </div>
        </div>
        <a id='transporte'>
            <div class="statistic">
                <div class="value">
                <i class="truck icon"></i> 5
                </div>
                <div class="label">
                Transportes
                </div>
            </div>
        </a>
        <div class="statistic">
            <div class="value">
            <i class="boxes icon"></i> 5
            </div>
            <div class="label">
            Alimentos(Ton)
            </div>
        </div>
    </div>
</div>
<br>
<div class="ui horizontal divider">
    Recursos Requisitados
</div>
<div class='ui segment'>
    <div class="ui orange statistics">
        <div class="statistic">
            <div class="value">
            8
            </div>
            <div class="label">
            Donatários
            </div>
        </div>
        <div class="statistic">
            <div class="value">
            <i class="medkit icon"></i>
            </div>
            <div class="label">
            Material Clínico
            </div>
        </div>
        <div class="statistic">
            <div class="value">
            <i class="pallet icon"></i>
            </div>
            <div class="label">
            Estrutura
            </div>
        </div>
        <div class="statistic">
            <div class="value">
            <i class="bed icon"></i>
            </div>
            <div class="label">
            Abrigos
            </div>
        </div>
        <div class="statistic">
            <div class="value">
            <i class="user md icon"></i>
            </div>
            <div class="label">
            Suporte Médico
            </div>
        </div>
    </div>
</div>

<div class="ui modal">
  <i class="close icon"></i>
  <div class="header">
    Doadores - TRANSPORTE
  </div>
  <div class="image content">
    <div class="ui list">
				<div class="item">
					<i class="users icon"></i>
					<div class="content">
						Vitório Tavares SA
					</div>
				</div>
				<div class="item">
					<i class="marker icon"></i>
					<div class="content">
						Maracanaú, CE
					</div>
				</div>
				<div class="item">
					<i class="mail icon"></i>
					<div class="content">
						<a href="mailto:jack@semantic-ui.com">vitorio.tavares@gmail.com</a>
					</div>
				</div>
				<div class="item">
					<i class="phone icon"></i>
					<div class="content">
						<a href="tel:+5585999028259">(85)9 9902 8259</a>
					</div>
				</div>
			</div>
    <div class="description">
      <b>Descrição:</b> Tenho disponível um caminhão que posso fazer o transporte de materiais em dias da semana nos determnados horários:<br> Seg a Sex(17:00 as 20:00)<br>Sab(8:00 as 12:00)<br>
    </div>
  </div>
  <div class="actions">
    <div class="ui button">Cancel</div>
    <div class="ui button">OK</div>
  </div>
</div>