<!-- Sidebar Menu -->
<div class="ui vertical wide sidebar menu">
  <a class="active item">Settings</a>
  <div class="item">Contatcs:<br/>
  <div>
    <a class="borderless item"></a>
    <div class="ui menu basic buttons ">
        <button class="ui active icon button ">
          <i class="star yellow large icon"></i>
        </button>
        <button class="ui icon button">
          <i class="facebook large icon"></i>
        </button>
        <button class="ui icon button">
          <i class="twitter large icon"></i>
        </button>
        <button class="ui icon button">
          <i class="google plus google-plus large icon"></i>
        </button>
        <button class="ui icon button ">
          <i class="phone olive large icon"></i>
        </button>
        <button class="ui icon button ">
          <h4>All</h4>
        </button>
    </div>
  </div>
  <div class="ui category search item">
      <div class="ui  icon input">
        <input class="prompt" type="text" placeholder="Search contacts...">
        <i class="search link icon"></i>
      </div>
  </div>
  <div class="results borderless item">
        <div class="ui middle aligned divided list large">
          <div class="item">
            <div class="right floated content">
              <a><i class="star yellow large icon"></i></a>
            </div>
            <img class="ui avatar image" src="/images/avatar2/small/lena.png">
            <div class="content">
              <div class="header">Lena</div>
              An excellent companion
            </div>
          </div>
          <div class="item">
            <div class="right floated content">
              <a><i class="star grey large icon"></i></a>
            </div>
            <img class="ui avatar image" src="/images/avatar2/small/lindsay.png">
            <div class="content">
              <div class="header">Lindsay</div>
              An excellent companion
            </div>
          </div>
          <div class="item">
            <div class="right floated content">
              <a><i class="star yellow large icon"></i></a>
            </div>
            <img class="ui avatar image" src="/images/avatar2/small/mark.png">
            <div class="content">
              <div class="header">Mark</div>
              An excellent companion
            </div>
          </div>
          <div class="item">
            <div class="right floated content">
              <a><i class="star yellow large icon"></i></a>
            </div>
            <img class="ui avatar image" src="/images/avatar2/small/molly.png">
            <div class="content">
              <div class="header">Molly</div>
              An excellent companion
            </div>
          </div>
        </div>
    </div>
    <a class="borderless item"></a>
    <a class="borderless item"></a>
  </div>
  <% if user_signed_in? %>
    <%= link_to('Log out', destroy_user_session_path, :method => :delete, class: "item") %>
  <% end %>
</div>
